{{!--
This footer template is shared across all the pages.
--}}
<footer class="m-footer">
  <div class="m-footer__content">
    {{!-- {{#if @site.secondary_navigation}}
      <nav class="m-footer__nav-secondary" role="navigation" aria-label="{{t "Secondary menu in footer"}}">
        {{navigation type="secondary"}}
      </nav>
    {{/if}} --}}
     <div class="m-footer__logo">
      <img src={{asset "images/assembly-logo.svg"}}>
    </div>
    <nav class="m-footer-social">
       <a href="https://assembly.sc/" target="_blank" rel="noopener" aria-label="Website">
        <span class="icon-globe" aria-hidden="true"></span>
      </a>
      <a href="https://twitter.com/assembly_net" target="_blank" rel="noopener" aria-label="Twitter">
        <span class="icon-twitter" aria-hidden="true"></span>
      </a>
      <a href="https://discord.iota.org/" target="_blank" rel="noopener" aria-label="Discord">
        <span class="icon-discord" aria-hidden="true"></span>
      </a>
      <a href="https://www.linkedin.com/company/assembly-net" target="_blank" rel="noopener" aria-label="LinkedIn">
        <span class="icon-linkedin" aria-hidden="true"></span>
      </a>
      <a href="https://www.reddit.com/r/Assembly_net/" target="_blank" rel="noopener" aria-label="Reddit">
        <span class="icon-reddit" aria-hidden="true"></span>
      </a>
      <a href="https://www.youtube.com/channel/UCr_BWKsiXkeOGfcSogh_fIQ" target="_blank" rel="noopener" aria-label="YouTube">
        <span class="icon-youtube" aria-hidden="true"></span>
      </a>
     </nav>

    {{!-- <p class="m-footer-copyright" id="foundationLegal"></p>
    <p class="m-footer-copyright" id="foundationRegisteredAddress"></p> --}}

  </div>
</footer>