@import 'common/mixins';
@import 'common/variables';

@import 'components/articles/featured-slider';
@import 'components/articles/featured-article';

// custom home hero
body.home-template .m-hero,
[class='paged'] .m-hero {
    background: url('/assets/images/BlogHeader_White.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    @include respond-to('medium') {
        min-height: 530px;
    }
    img {
        display: none !important;
    }
}

[data-theme='dark'] body.home-template .m-hero,
[data-theme='dark'] [class='paged'] .m-hero {
    background: url('/assets/images/Blogheader_Dark.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 350px;
    @include respond-to('medium') {
        min-height: 530px;
    }
    img {
        display: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) body.home-template .m-hero,
    :root:not([data-theme='light']) [class='paged'] .m-hero {
        background: url('/assets/images/Blogheader_Dark.png');
        background-position: center;
        background-repeat: no-repeat;
        min-height: 350px;
        @include respond-to('medium') {
            min-height: 530px;
        }
        img {
            display: none !important;
        }
    }
}
