@import 'common/mixins';
@import 'common/variables';
@import 'common/helpers';

@import 'layouts/post-content';

@import 'components/ui/button';
@import 'components/ui/input';
@import 'components/articles/share';
@import 'components/subscribe/subscribe-section';
@import 'components/author/author';
@import 'components/author/picture';
@import 'components/author/links';
@import 'components/comments/comments';
@import 'components/articles/recommended';
@import 'components/articles/recommended-articles';
@import 'components/articles/recommended-slider';

.post-template {
    background-color: var(--background-color) !important;
}

.post-template .m-hero.with-picture {
    min-height: unset;
    padding: 0;
    padding-bottom: 45%;
    margin-top: 50px;
}

@media only screen and (min-width: 48rem) {
    .post-template .m-hero.with-picture {
        margin-top: 65px;
    }
}

.disclamer-deprecated-post {
    margin: 30px 0;
    padding: 15px 20px;
    color: var(--primary-text-color);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.2px;
    background-color: rgba(231, 81, 81, 0.3);
    border: 1px solid rgba(231, 81, 81, 0.5);
    border-radius: 5px;
    display: block;
}
