@import 'common/mixins';
@import 'common/variables';

@import 'layouts/tags-container';

@import 'components/tags/tag-card';

// custom tags hero
.tags-template .m-hero {
    background: transparent;
    min-height: 320px;
    @include respond-to('medium') {
    }
    img {
        display: none !important;
    }
}

[data-theme='dark'] .tags-template .m-hero {
    background: transparent;
    min-height: 320px;
    @include respond-to('medium') {
    }
    img {
        display: none !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']) .tags-template .m-hero {
        background: transparent;
        min-height: 320px;
        img {
            display: none !important;
        }
    }
}
