.m-heading__title {
    color: var(--titles-color);
    line-height: 1.25;
    letter-spacing: 0.02rem;
    color: var(--titles-color);
    margin: 0 0 10px;

    @include respond-to('medium') {
        letter-spacing: 0.5px;
        font-size: 2.25rem;
        margin-bottom: 15px;
    }

    &.in-post {
        margin-bottom: 15px;
        font-size: 1.8rem;
        text-align: left;

        @include respond-to('medium') {
            font-size: 2.75rem;
            margin-bottom: 20px;
            text-align: center;
        }
    }

    &.in-page {
        margin: 0;
    }
}
