.m-footer {
    flex-shrink: 0;
    background-color: var(--footer-background-color);
    border-top: 1px solid var(--primary-border-color);
}

.m-footer__content {
    color: $white;
    text-align: center;
    padding: 45px $mobile-space;

    @include respond-to('medium') {
        padding: 45px 0;
        max-width: 680px;
        margin: 0 auto;
    }
    @include respond-to('large') {
        padding: 45px 0;
        max-width: 1032px;
        margin: 0 auto;
    }
}

.m-footer__nav-secondary {
    margin-bottom: 25px;

    .m-secondary-menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            @include respond-to('medium') {
                margin: 0 5px;
            }
        }
    }
}
.m-footer-grid {
    display: block;
    @include respond-to('large') {
        display: grid;
        grid-template-columns: 34% 66%;
    }
}
.m-footer-copyright {
    margin-bottom: 0px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    @include respond-to('medium') {
        font-size: 0.875rem;
    }
    p {
        color: #fff;
        line-height: 0.5em;
    }
    span {
        display: inline;
    }
    a {
        text-decoration: underline;
        margin-left: 0.25rem;
        &:hover {
            color: #666274;
        }
    }

    &.jslicense {
        opacity: 0.7;
        margin-bottom: 0;
    }
}
#assemblyRegisteredAddress span {
    margin-right: 0.25rem;
}
.m-footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    a {
        display: inline-block;
        color: #fff;
        margin: 0 15px;

        span {
            color: #fff;
            font-size: 1rem;
        }
    }
}
.m-footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    a {
        display: inline-block;
        color: #fff;
        margin: 0 15px;

        font-size: 0.7rem;
    }
}
.rtl {
    .m-footer-social {
        direction: ltr;
    }
}

.m-footer__logo {
    filter: invert(1);
    margin-bottom: 36px;
}
