.m-featured-article {
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: var(--primary-subtle-color);
    z-index: 1;

    &:hover {
        .m-featured-article__author {
            @include bs(0 4px 8px rgba(0, 0, 0, 0.3));
        }
    }

    &.no-picture {
        .m-featured-article__picture {
            background-color: var(--primary-subtle-color);
        }
    }
}

.m-featured-article__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 1;

    div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.7;
    }
}

.m-featured-article__meta {
    position: absolute;
    top: $mobile-space;
    left: $mobile-space;
    z-index: 4;

    @include respond-to('medium') {
        top: 40px;
        left: 40px;
    }
}

.rtl {
    .m-featured-article__meta {
        left: auto;
        right: $mobile-space;

        @include respond-to('medium') {
            left: auto;
            right: 40px;
        }
    }
}

.m-featured-article__author {
    display: block;
    width: 35px;
    height: 35px;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 50%;
    margin-bottom: 20px;
    @include transition(all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1));
    visibility: hidden;

    div {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
    }
}

.m-featured-article__tag {
    font-family: 'Metropolis Bold';
    color: var(--primary-subtle-color);
    letter-spacing: 0.3px;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.m-featured-article__ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 26px;
    right: $mobile-space;
    width: 24px;
    height: 24px;
    color: $black;
    background-color: $white;
    border-radius: 50%;
    z-index: 2;
    visibility: hidden;

    @include respond-to('medium') {
        justify-content: flex-start;
        top: 47px;
        right: 40px;
        width: auto;
        height: 22px;
        padding: 0 7px;
        font-size: 0.875rem;
        font-weight: 600;
        border-radius: 15px;
    }

    span {
        display: inline-block;
    }

    span:first-of-type {
        @include respond-to('medium') {
            font-size: 0.75rem;
            margin-right: 4px;
        }
    }

    span:last-of-type {
        display: none;

        @include respond-to('medium') {
            display: block;
        }
    }
}

.rtl {
    .m-featured-article__ribbon {
        right: auto;
        left: $mobile-space;

        @include respond-to('medium') {
            right: auto;
            left: 40px;
        }

        span:first-of-type {
            @include respond-to('medium') {
                margin-right: 0;
                margin-left: 4px;
            }
        }
    }
}

.m-featured-article__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 120px $mobile-space $mobile-space $mobile-space;
    position: relative;
    z-index: 3;

    @include respond-to('medium') {
        padding: 125px 40px 40px 40px;
    }
}

.m-featured-article__title {
    color: $white;
    margin: 0;
    font-size: 1.875rem;
    @include respond-to('medium') {
        font-size: 2rem;
        max-width: 80%;
    }
}

.m-featured-article__timestamp {
    display: flex;
    align-items: center;
    color: $white;
    line-height: 1.25rem;
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    span:nth-child(2) {
        padding: 0 10px;
    }
}
